@import "../node_modules/bootstrap/less/bootstrap";

@brand-primary: #0065aa;

@brand-success: #499349;

@brand-info: #9a8167;

@brand-warning: #d89b46;

@brand-danger: #c04c00;

@input-border-focus: lighten(@brand-primary, 20%);

@state-success-text: #244924;
@state-success-bg: #dae9da;
@state-success-border: @brand-success;

@state-info-text: #4d4033;
@state-info-bg: #eae5e0;
@state-info-border: @brand-info;

@state-danger-text: #602600;
@state-danger-bg: #f2dbcc;
@state-danger-border: @brand-danger;

@state-warning-text: #6c4d23;
@state-warning-bg: #f7ebda;
@state-warning-border: @brand-warning;

@code-color: @brand-danger;

@btn-default-bg: #eaeaea;

&root {
  --topbar-height: 80px;
  --padding: 25px;
}

.root {
  text-align: center;
}

.toolbar {
  display: inline-block;
}

.avatar {
  width: 80%;
}

//noinspection ALL
.wrapper {
  -o-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  @media (--screen-phone-lg) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
  }
}

//noinspection ALL
.content {
  @media (--screen-phone-lg) {
    flex: 1;
    left: 0;
    order: 2;
    position: relative;
    top: var(--topbar-height);
  }
}

.examples {
  padding: 20px;
  .example {
    margin-bottom: 20px;
    &input {
      width: 300px;
    }
  }
  form {
    max-width: 400px;
  }
}
